<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User</title>
</head>
<body>
<p th:text="${user.getId()}">VALUE</p>
<p th:text="${user.getLogin()}">VALUE</p>
<p th:text="${user.getPassword()}">VALUE</p>
<form th:method="GET" th:action="@{{id}/edit(id=${user.getId()})}">
    <input type="submit" value="Edit">
</form>
<form th:method="DELETE" th:action="@{/users}" th:object="${user}">
    <input type="submit" value="Delete">
    <input type="hidden" th:field="*{id}">
</form>
</body>
</html>